.WeatherForecast {
    color: #c471ff;
    text-align: center;
  }
.WeatherForecast canvas {
    border-radius: 5px;
    margin-top: 5px;
  }
.WeatherForecast-day {
    font-size: 20px;
    opacity: 0.6;
  }
.WeatherForecast-temperature {
    /* margin-top: 5px; */
    margin-bottom: 20px;
  }
  .WeatherForecast-temperature-min {
    opacity: 0.8;
  }