.WeatherForecast {
    color: c471ff;
    text-align: center;
    margin-top: 20px;
  }
.WeatherForecast canvas {
    background-color: #e8c8ff;
    border-radius: 5px;
    margin-top: 5px;
  }
.WeatherForecast-day {
    font-size: 20px;
    opacity: 0.6;
  }
.WeatherForecast-temperature {
    /* font-size: 16px; */
    margin-top: 5px;
  }
  .WeatherForecast-temperature-min {
    opacity: 0.8;
  }